

.template-four {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    min-height: 95%;

    overflow: hidden;
    word-wrap: break-word;
}

.template-four p.visible {
    font-size: 14px;
    font-weight: 500;
    color: #2D2C2C;
    margin-top: -10px;

    display: flex;
    align-items: center;
}

.template-four img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.template-four h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2D2C2C;
}

.template-four h4 {
    font-size: 17px;
    font-weight: 600;
    color: #2D2C2C;
}

.template-four-header {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #2D2C2C;
}

.template-four-header h1 {
    font-size: 35px;
    font-weight: 700;
    color: #2D2C2C;
}

.template-four-header h3 {
    font-size: 25px;
    font-weight: 600;
    color: #2D2C2C;

    margin-top: -15px;
}


.template-four-body-personal-details {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    
    border-bottom: 1px solid #2D2C2C;
}



.template-four-body-personal-details-left {
    width: 100%;
    border-right: 1px solid #2D2C2C;
    padding-right: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.template-four-body-personal-details-right {
    width: 90%;
    padding-left: 10px;
}

.template-four-body-personal-details-right pre {
    font-size: 14px;
    font-weight: 500;
    color: #2D2C2C;
    margin-top: -10px;
}


.template-four-body-education {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 40% 60%;
}

.template-four-body-education-left {
    width: 100%;
    padding-right: 10px;

    border-right: 1px solid #2D2C2C;
    border-bottom: 1px solid #2D2C2C;
}

.template-four-body-education-right {
    width: 90%;
    padding-left: 20px;
    padding-right: 10px;

    border-bottom: 1px solid #2D2C2C;
}

.template-four-body-education-left  section.holder {
    width: calc(100% + 10px);
    padding-bottom: 10px;
    border-bottom: 1px solid #2D2C2C;
}

.template-four-body-education-left  section.holder:last-child {
    border-bottom: none;
}

.template-four-body-education-left  section.holder > div {
    padding-right: 10px;
}

section div.description {
    margin-top: -25px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
    gap: 5px;
}

section div.list-description {
    margin-top: -10px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
    gap: 5px;
}

.none-display {
    display: none;
}