a {
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

pre{
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

body{
  overflow: hidden;
}

/* Style for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 3px solid #f1f1f1; /* Space around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovering */
  }
  
  /* Style for Firefox */
  .scroll-container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }
  
  /* Apply the overflow behavior */
  .scroll-container {
    overflow-y: scroll; /* Enable scrolling */
    height: 200px; /* Adjust height for demonstration */
  }
  
  @media print {
    /* Hide everything */
    body * {
      visibility: hidden;
    }
  
    div.output-form{
      position: unset;
    }
    /* Show only the .print-section */
    #cv-template,
    #cv-template * {
      visibility: visible;
    }
  
    /* Position the print-section at the top-left to avoid whitespace */
    #cv-template {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

