/*
    INPUT FORM STYLES
*/


#summary {
    border-radius: 5px;
    padding: 5%;
    font-size: 16px;
    width: 200%;
    resize: none;
    /*style={{borderRadius: '5px', fontSize: "16px", paddingLeft: "5%", paddingRight: "5%"}}*/
}

button.btn-add-entry {
    width: 75%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-add-entry:hover {
    background-color: #d3d3d3;
}

div.input-form, div.in-none-display {
    padding: 10px;
    width: 40%;
    max-height: 85%;
    border: 3px solid #0C0C0D;
    background-color: #FFFBFC;
    position: fixed;
    top: 0;
    margin-top: 70px;
    margin-left: 5%;
    overflow-y: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

div.dropdown {
    width: 95%;
}

div.dropdown-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    
}

div.dropdown-content.show, div.dropdown-content-v2.show {
    border: 2px solid grey;
    border-radius:5px ;
    border-top: none;
    padding: 10px;
}



div.dropdown-content-v2 {
    margin-top: 20px;
    gap: 4%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

div.dropdown-v2-content {
    display: grid;
    gap: 10px;
    grid-template-columns: 48% 48%;
}


div.input-form div.dropdown-content.show, div.input-form div.dropdown-content-v2.show {
    max-height: 500px;
    opacity: 1;
}

div.dropdown > button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

div.dropdown > button:hover {
    background-color: #f0f0f0;
}

button.add-entry {
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.add-entry:hover {
    background-color: #e0e0e0;
}

div.btn-container {
    width: 100%;
    padding: 10px;
    margin-left: -2%;

    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

div.btn-container > button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.btn-container > button.btn-delete {
    height: 100%;
    background-color: red;
    border: 3px solid blueviolet;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

div.btn-container > button.btn-delete:hover {
    background-color: darkred;
    transform: scale(1.05);
}

div.input-form span {
    display: flex;
    flex-direction: column;
}

/* 
    OUTPUT FORM STYLES
*/

div.output-form, div.out-none-display {
    padding: 10px;
    width: 45%;
    height: 85%;
    border: 3px solid #0C0C0D;
    background-color: gray;
    position: fixed;
    top: 0;
    margin-top: 70px;
    margin-left: 50%;
    overflow-y: auto;
    overflow-x: hidden;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

div.resume {
    background-color: #FFFBFC;
    padding: 10px;
    border-radius: 5px;
}


.ats-output {
  background-color: rgba(30, 41, 59, 0.5); /* slate-800/50 */
  backdrop-filter: blur(12px); /* backdrop-blur-md */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  border-radius: 0.75rem; /* rounded-xl */
  padding: 1.5rem; /* p-6 */

  border: 1px solid #334155; /* border-slate-700 */
}

/* Responsive padding (lg:p-8) */
@media (min-width: 1024px) {
  .custom-card {
    padding: 2rem; /* p-8 */
  }
}



div.ats-output {
    width: 100%;
    min-height: 95%;
    border-radius: 5px;
    background-color: #2b072bd4;

    
    background: linear-gradient(to bottom right, #0f172a, #1e3a8a, #4f46e5);
    backdrop-filter: blur(12px); /* backdrop-blur-md */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
    border-radius: 0.75rem; /* rounded-xl */

    overflow: hidden;
    word-wrap: break-word;

    font-family: 'Arial', sans-serif;

    font-size: 14px;
   /* font-weight: 700;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

div.ats-output > * {
    width: 90%;
}

div.ats-output > div.title-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

div.title-holder > h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

div.output-form > div.toggle-switch {
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    z-index: 100000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

div.output-form input.output-switch {
    width: 10px;
    height: 10px;
}

div.output-form label.ats-toggle-label {
    width: 70px;
    height: 20px;
    display: block;

    background-color: #ccc;
    border-radius: 15px;
    box-shadow: inset 0px 5px 15px rgba(0 , 0, 0, 0.4);
    cursor: pointer;


    transition: transform 0.3s ease;
}

div.output-form label.ats-toggle-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(0px);
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #4f46e5, #8b5cf6);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

div.output-form input.output-switch {
    display: none;
}

div.output-form input:checked + label.ats-toggle-label {
    background-color: #4f46e5;
}

div.output-form input:checked + label.ats-toggle-label::after {
    left: 0px;
    transform: translateX(50px);
}



/*INPUT FORM TOGGLE SWITCH*/
div.switch > label {
    width: 70px;
    height: 20px;
    display: block;

    background-color: #ccc;
    border-radius: 15px;
    box-shadow: inset 0px 5px 15px rgba(0 , 0, 0, 0.4);
    cursor: pointer;

    position: relative;
    transition: background-color 0.3s ease;
    
}

div.switch > input{
    display: none;
}

div.switch > label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    transform: translateX(0px);
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #4f46e5, #8b5cf6);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

div.switch > input:checked + label {
    background: linear-gradient(180deg, #8b5cf6, #4f46e5);
}

div.switch > input:checked + label::after {
    left: 0px;
    transform: translateX(50px);
}






/* CSS ----- FROM getcssscans.com */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}





/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}






@media (max-width: 800px) {
    #summary {
        width: 90%;
    }

    div.in-none-display, div.out-none-display {
        display: none;
    }

    div.input-form {
        width: 100%;
        height: 580px;
        margin-left: 0;
        margin-top: 65px;

        position: relative;
    }

    div.dropdown-v2-content {
    display: flex;
    flex-direction: column;
    }

    div.dropdown-content {
        display: flex;
        flex-direction: column;
    }

    
    div.output-form {
        width: 450px;
        height: 580px;
        margin: 0;
        margin-top: 65px;

        position: relative;
    }
}
